.main{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    .header,.footer{
        // height: 50px;
        background: rgb(0, 92, 187,.1);
    }
    .content{
        background: white;
        flex: 1 1 auto;
    }
}